In [3]:
#cd '/Users/nikhilsingh/Downloads/Dalmia_machine_learning/Nikhil'

In [1]:
import numpy as np 
import pandas as pd

In [4]:
result = pd.read_csv('Predicted_Churn.csv')
dealer_status = pd.read_excel('dealer_status.xlsx')

In [7]:
result.index = result['dealerId']
result.drop('dealerId', axis = 1 , inplace = True)
dealer_status.index = dealer_status['Unnamed: 0']
dealer_status.drop('Unnamed: 0', axis = 1 , inplace = True)

In [163]:
result_jul = result[result['creationTime']=='01-07-2023']

In [164]:
status_jul = dealer_status[dealer_status.index.isin(result_jul.index)]

In [165]:
status_jul['month_new_dealer'] = status_jul['month_new_dealer']-4

In [166]:
status_jul.drop(['2023-09', '2023-10'], axis = 1 , inplace = True)

In [167]:
status_jul

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000059,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000218,Active,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active_1N,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000318,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Active_3N,Inactive,Inactive,Inactive,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000460,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,...,Active,Active,Active_1N,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000654,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040640,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2
7040682,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active_1N,2
7040710,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,Active,Active_1N,Active_2N,1
7040736,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2
7040757,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2

In [73]:
# status_jul = status_jul[['2022-07', '2022-08', '2022-09',
#        '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
#        '2023-04', '2023-05', '2023-06','month_new_dealer']]

In [161]:
status_jul

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000059,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000218,Active,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active_1N,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000318,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Active_3N,Inactive,Inactive,Inactive,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000460,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,...,Active,Active,Active_1N,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,27
7000654,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040640,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2
7040682,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active_1N,2
7040710,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,Active,Active_1N,Active_2N,1
7040736,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2
7040757,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2

In [169]:
status_jul['actual'] = 0
condition = ((status_jul['2023-07']=='Active_3N')|(status_jul['2023-08']=='Active_3N'))
status_jul.loc[condition, 'actual'] = 1
status_jul['actual'].value_counts()

1    522
0    330
Name: actual, dtype: int64

In [157]:
result_jun = result[result['creationTime']=='01-06-2023']
status_jun = dealer_status[dealer_status.index.isin(result_jun.index)]
status_jun['month_new_dealer'] = status_jun['month_new_dealer']-5
status_jun.drop(['2023-08', '2023-09','2023-10'], axis = 1 , inplace = True)

In [171]:
status_jun['actual'] = 0
condition = ((status_jun['2023-06']=='Active_3N')|(status_jun['2023-07']=='Active_3N'))
status_jun.loc[condition, 'actual'] = 1
status_jun['actual'].value_counts()

1    573
0    267
Name: actual, dtype: int64

In [158]:
# status_jun = status_jun[['2022-06','2022-07', '2022-08', '2022-09',
#        '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
#        '2023-04', '2023-05','month_new_dealer']]
status_jun

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000027,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,26
7000059,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,26
7000104,-,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,25
7000318,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Active_2N,Active_3N,Inactive,Inactive,Inactive,Active,Active_1N,Active_2N,Active_3N,26
7000525,-,Active,Active_1N,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040017,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active,2
7040026,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2
7040058,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active_1N,2
7040110,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2
7040113,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2

In [159]:
result_may = result[result['creationTime']=='01-05-2023']
status_may = dealer_status[dealer_status.index.isin(result_may.index)]
status_may['month_new_dealer'] = status_may['month_new_dealer']-6
status_may.drop(['2023-07', '2023-08', '2023-09','2023-10'], axis = 1 , inplace = True)

In [173]:
status_may['actual'] = 0
condition = ((status_may['2023-05']=='Active_3N')|(status_may['2023-06']=='Active_3N'))
status_may.loc[condition, 'actual'] = 1
status_may['actual'].value_counts()

1    510
0    328
Name: actual, dtype: int64

In [160]:
# status_may = status_may[['2022-05','2022-06','2022-07', '2022-08', '2022-09',
#        '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
#        '2023-04','month_new_dealer']]
status_may

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000022,-,-,-,-,-,-,-,-,-,-,...,Active,Active,Active,Active,Active_1N,Active,Active_1N,Active,Active,12
7000085,-,-,-,-,-,Active,Active_1N,Active,Active,Active_1N,...,Active,Active_1N,Active_2N,Active_3N,Active,Active_1N,Active_2N,Active_3N,Inactive,20
7000205,-,-,-,-,-,-,-,-,-,-,...,-,-,-,Active,Active,Active_1N,Active_2N,Active,Active,4
7000603,Active,Active_1N,Active,Active,Active,Active,Active,Active,Active,Active_1N,...,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,25
7000694,-,-,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active_3N,Inactive,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039604,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active,2
7039616,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active_1N,2
7039714,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active,Active,2
7039715,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2
7039790,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,Active,Active_1N,Active_2N,Active_3N,2

In [175]:
status_jul_1 = status_jul[['actual','month_new_dealer']]
status_jun_1 = status_jun[['actual','month_new_dealer']]
status_may_1 = status_may[['actual','month_new_dealer']]

In [181]:
status_jul_1 ['actual'] =status_jul_1['actual'].replace({0:'Not_churn', 1:'Churn'})
status_jun_1 ['actual'] =status_jun_1['actual'].replace({0:'Not_churn', 1:'Churn'})
status_may_1 ['actual'] =status_may_1['actual'].replace({0:'Not_churn', 1:'Churn'})

In [185]:
status_jul_1 = status_jul_1.rename(columns={'month_new_dealer': 'dealer_history'})
status_jun_1 = status_jun_1.rename(columns={'month_new_dealer': 'dealer_history'})
status_may_1 = status_may_1.rename(columns={'month_new_dealer': 'dealer_history'})

In [188]:
with pd.ExcelWriter('churn_status_1.xlsx') as excel_file:
    status_jul_1.to_excel(excel_file, sheet_name='1st_jul', index=True)
    status_jun_1.to_excel(excel_file, sheet_name='1st_jun', index=True)
    status_may_1.to_excel(excel_file, sheet_name='1st_may', index=True)

In [79]:
result_apr = result[result['creationTime']=='01-04-2023']
status_apr = dealer_status[dealer_status.index.isin(result_apr.index)]
status_apr['month_new_dealer'] = status_apr['month_new_dealer']-7
#status_apr.drop(['2023-04','2023-05','2023-06','2023-07', '2023-08', '2023-09',
       '2023-10'], axis = 1 , inplace = True)

/var/folders/m3/m633mc4s5tsggxm0f81370l80000gn/T/ipykernel_36210/1393297963.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_apr['month_new_dealer'] = status_apr['month_new_dealer']-7
/var/folders/m3/m633mc4s5tsggxm0f81370l80000gn/T/ipykernel_36210/1393297963.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_apr.drop(['2023-04','2023-05','2023-06','2023-07', '2023-08', '2023-09',

In [80]:
# def cap_value(value):
#     return min(value, 12)
# status_jul['month_new_dealer'] = status_jul['month_new_dealer'].apply(cap_value)
# status_jun['month_new_dealer'] = status_jun['month_new_dealer'].apply(cap_value)
# status_may['month_new_dealer'] = status_may['month_new_dealer'].apply(cap_value)
# status_apr['month_new_dealer'] = status_apr['month_new_dealer'].apply(cap_value)

In [81]:
status_jul = status_jul.rename(columns={'month_new_dealer': 'dealer_history'})
status_jun = status_jun.rename(columns={'month_new_dealer': 'dealer_history'})
status_may = status_may.rename(columns={'month_new_dealer': 'dealer_history'})
status_apr = status_apr.rename(columns={'month_new_dealer': 'dealer_history'})

In [85]:
status_apr

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,dealer_history
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000085,-,-,-,-,-,Active,Active_1N,Active,Active,Active_1N,...,Active_1N,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,Active_1N,19
7000158,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active,Active_1N,Active_2N,24
7000189,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,24
7000205,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,Active,Active,Active_1N,3
7000395,Active,Active_1N,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,Active,...,Active,Active,Active,Active,Active,Active_1N,Active,Active_1N,Active_2N,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039256,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,Active,Active_1N,2
7039271,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,Active,Active_1N,2
7039289,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,Active,Active,2
7039291,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,Active,Active_1N,2
7039303,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,Active,Active_1N,2

In [86]:

with pd.ExcelWriter('churn_status.xlsx') as excel_file:
    status_jul.to_excel(excel_file, sheet_name='1st_jul', index=False)
    status_jun.to_excel(excel_file, sheet_name='1st_jun', index=False)
    status_may.to_excel(excel_file, sheet_name='1st_may', index=False)
    status_apr.to_excel(excel_file, sheet_name='1st_apr', index=False)

In [190]:
dealer_status[(dealer_status['2023-07']=='Active_3N')|(dealer_status['2023-08']=='Active_3N')&(dealer_status['month_new_dealer']>=12)]

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000059,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,31
7000218,Active,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active_1N,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,31
7000318,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Inactive,Inactive,Active,Active_1N,Active_2N,Active_3N,Inactive,Active,Active_1N,31
7000460,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,...,Active_1N,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,31
7000654,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,Active,Active,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039874,-,-,-,-,-,-,-,-,-,-,...,-,-,Active,Active_1N,Active_2N,Active_3N,Active,Active,Active_1N,7
7039876,-,-,-,-,-,-,-,-,-,-,...,-,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,7
7039968,-,-,-,-,-,-,-,-,-,-,...,-,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,7
7040026,-,-,-,-,-,-,-,-,-,-,...,-,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,7
7040113,-,-,-,-,-,-,-,-,-,-,...,-,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,7

In [191]:
dealer_status[(dealer_status['2023-06']=='Active_3N')|(dealer_status['2023-07']=='Active_3N')&(dealer_status['month_new_dealer']>=12)]

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000027,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,31
7000059,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,31
7000104,-,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,30
7000218,Active,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active_1N,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,31
7000318,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active,Active_1N,Active_2N,Active,...,Inactive,Inactive,Active,Active_1N,Active_2N,Active_3N,Inactive,Active,Active_1N,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039592,-,-,-,-,-,-,-,-,-,-,...,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,8
7039593,-,-,-,-,-,-,-,-,-,-,...,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,8
7039597,-,-,-,-,-,-,-,-,-,-,...,-,Active,Active_1N,Active_2N,Active_3N,Active,Active_1N,Active_2N,Active_3N,8
7039715,-,-,-,-,-,-,-,-,-,-,...,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,8
7039790,-,-,-,-,-,-,-,-,-,-,...,-,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,8

In [193]:
dealer_status[(dealer_status['2023-05']=='Active_3N')|(dealer_status['2023-06']=='Active_3N')&(dealer_status['month_new_dealer']>=12)]

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000027,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,31
7000085,-,-,-,-,-,Active,Active_1N,Active,Active,Active_1N,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,26
7000104,-,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,30
7000153,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,31
7000420,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039139,-,-,-,-,-,-,-,-,-,-,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,9
7039175,-,-,-,-,-,-,-,-,-,-,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,9
7039214,-,-,-,-,-,-,-,-,-,-,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,9
7039232,-,-,-,-,-,-,-,-,-,-,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,9
7039256,-,-,-,-,-,-,-,-,-,-,...,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,9

In [59]:
status_apr = status_apr[['2022-04','2022-05','2022-06','2022-07', '2022-08', '2022-09',
       '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
       'month_new_dealer']]
status_apr

,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,
7000085,Active_1N,Active,Active,Active_1N,Active,Active,Active,Active_1N,Active_2N,Active_3N,Active,Active_1N,19
7000158,Active,Active,Active_1N,Active,Active,Active,Active,Active,Active,Active,Active_1N,Active_2N,24
7000189,Active_1N,Active,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active,Active,24
7000205,-,-,-,-,-,-,-,-,-,Active,Active,Active_1N,3
7000395,Active,Active,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active_1N,Active_2N,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039256,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2
7039271,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2
7039289,-,-,-,-,-,-,-,-,-,-,Active,Active,2
7039291,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2
7039303,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2

In [29]:
result_mar = result[result['creationTime']=='01-03-2023']
status_mar = dealer_status[dealer_status.index.isin(result_mar.index)]
status_mar['month_new_dealer'] = status_mar['month_new_dealer']-7
status_mar.drop(['2023-03','2023-04','2023-05','2023-06','2023-07', '2023-08', '2023-09',
       '2023-10'], axis = 1 , inplace = True)

/var/folders/m3/m633mc4s5tsggxm0f81370l80000gn/T/ipykernel_36210/3869496303.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_mar['month_new_dealer'] = status_mar['month_new_dealer']-7
/var/folders/m3/m633mc4s5tsggxm0f81370l80000gn/T/ipykernel_36210/3869496303.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_mar.drop(['2023-03','2023-04','2023-05','2023-06','2023-07', '2023-08', '2023-09',

In [31]:
status_mar['2023-02'].value_counts()

Active_1N    374
Active_2N    306
Active        10
Inactive       1
Name: 2023-02, dtype: int64

In [32]:
status_apr['2023-03'].value_counts()

Active_1N    387
Active_2N    322
Active       142
Name: 2023-03, dtype: int64

In [33]:
status_may['2023-04'].value_counts()

Active_1N    443
Active_2N    377
Active        18
Name: 2023-04, dtype: int64

In [34]:
status_jun['2023-05'].value_counts()

Active_2N    446
Active_1N    388
Active         6
Name: 2023-05, dtype: int64

In [35]:
status_jul['2023-06'].value_counts()

Active_1N    431
Active_2N    406
Active        15
Name: 2023-06, dtype: int64

In [37]:
pivot = pd.read_excel('updated_pivot.xlsx')
pivot.index = pivot['Unnamed: 0']
pivot.drop('Unnamed: 0', axis= 1, inplace = True)

In [39]:
pivot['month_new_dealer'] = 31-pivot['month_new_dealer']

In [41]:
pivot_jul = pivot[pivot.index.isin(status_jul.index)]

In [42]:
pivot_jul['month_new_dealer'] = status_mar['month_new_dealer']-4
status_mar.drop(['2023-03','2023-04','2023-05','2023-06','2023-07', '2023-08', '2023-09',
       '2023-10'], axis = 1 , inplace = True)

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000059,30.0,85.0,30.00,15.0,60.0,32.5,77.5,52.0,27.5,70.0,...,27.5,20.0,12.0,0.0,0.0,0.0,0.0,0.00,0.00,31
7000218,10.0,12.0,24.00,0.0,24.0,12.0,0.0,22.0,0.0,10.0,...,5.0,12.0,12.0,0.0,0.0,0.0,0.0,0.00,0.00,31
7000318,30.0,0.0,29.00,0.0,30.0,0.0,25.0,0.0,0.0,25.0,...,0.0,0.0,26.0,0.0,0.0,0.0,0.0,20.00,0.00,31
7000460,33.0,12.0,15.00,10.0,15.0,10.0,0.0,15.0,17.5,15.0,...,0.0,15.0,15.0,0.0,0.0,0.0,0.0,0.00,0.00,31
7000654,270.5,205.9,234.95,219.0,359.4,276.0,325.7,258.0,318.5,290.0,...,326.0,568.0,97.0,0.0,0.0,0.0,178.1,148.50,141.10,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040640,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,26.0,0.0,0.0,0.0,0.00,0.00,6
7040682,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,5.0,0.0,0.00,5.00,6
7040710,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.00,0.00,5
7040736,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,15.0,0.0,60.0,30.0,6.75,3.25,6
7040757,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,0.0,82.5,56.0,0.00,12.00,6

In [98]:
status_jul[status_jul['dealer_history']<=5].index.to_list()[:5]

[7010323, 7010342, 7010374, 7010479, 7010585]

In [196]:
status_jul_2 = status_jul[['2023-06']]
status_jun_2 = status_jun[['2023-05']]
status_may_2 = status_may[['2023-04']]

In [197]:

with pd.ExcelWriter('churn_status_2.xlsx') as excel_file:
    status_jul_2.to_excel(excel_file, sheet_name='1st_jul', index=True)
    status_jun_2.to_excel(excel_file, sheet_name='1st_jun', index=True)
    status_may_2.to_excel(excel_file, sheet_name='1st_may', index=True)

In [199]:
dealer_status

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,month_new_dealer
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
7000004,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,31
7000010,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active,Active,Active,...,Inactive,Inactive,Inactive,Active,Active,Active,Active,Active,Active,31
7000015,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,31
7000019,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active_1N,Active_2N,...,Churn,Churn,Churn,Churn,Churn,Churn,Churn,Churn,Churn,31
7000022,-,-,-,-,-,-,-,-,-,-,...,Active_1N,Active,Active_1N,Active,Active,Active,Active,Active_1N,Active,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7042341,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Active,1
7042347,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Active,1
7042369,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Active,1
7042371,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Active,1
7042372,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Active,1

In [99]:
import numpy as np 
import psycopg2
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#Credentials for DB
host="database-dalmia.cms6cet2hwec.ap-south-1.rds.amazonaws.com"
database="dalmia_digital"
user="postgres"
password="dalmia123"
sql_query =  "SELECT sold_to_party_code,billing_date,bill_quantity FROM dalmia_sales.sales_data where billing_date > '2020-04-01' and sold_to_party_code between 7000000 and 7099999"


class DB_Data:
    
    def __init__(self, host, database, user, password, sql_query):
        self.host = host
        self.database = database
        self.user = user
        self.password = password
        self.sql_query = sql_query
        
#Database connection funtion        
    def db_data(self):
        conn = psycopg2.connect(
            host=self.host,
            database=self.database,
            user=self.user,
            password=self.password
        )
        sql_query = self.sql_query
        df = pd.read_sql_query(sql_query, conn)
        conn.close()
        return df

#Function to create date columns 
    def create_date_columns(self):
        df = self.db_data()
        new_df = pd.DataFrame()
        for df_item in [df]:
            df_item['date'] = pd.to_datetime(df_item['billing_date'])
            df_item['Month_Year'] = pd.to_datetime(df_item['date']).dt.strftime('%Y-%m')
            df_item['Year'] = pd.to_datetime(df_item['date']).dt.year
            df_item['Quarter'] = df_item['date'].dt.to_period('Q')
            new_df = pd.concat([new_df, df_item], axis=0)
        return new_df

#Pivot data creation for 
    def pivot_data(self):
        df = self.create_date_columns()
        df_sales = df[['sold_to_party_code', 'Month_Year', 'bill_quantity']]
        df_group_month = df_sales.groupby(['sold_to_party_code', 'Month_Year']).agg({'bill_quantity': 'sum'}).reset_index()
        df_group_month.columns = ['Sold To Party Code', 'Month Year', 'Sum']
        pivot_table = pd.pivot_table(df_group_month, values='Sum', columns='Month Year', index='Sold To Party Code')
        pivot_table = pivot_table.fillna(0)
        return pivot_table
    
#New Dealers    
    def count_zeros_before_first_nonzero(self , row):
        count = 0
        for value in row:
            if value == 0:
                count += 1
            else:
                break 
        return count

#Result_matrix creation
    def count_trailing_zeros_before_end_index(self, df, end_index):
        counts = []
        for row in df.itertuples(index=False):
            count = 0
            for i in range(end_index - 1, -1, -1):
                if row[i] == 0:
                    count += 1
                else:
                    break
            counts.append(count)
        return counts

    def create_result_matrix(self, month_new):
        df = self.pivot_data()
        df['month_new_dealer'] = df.apply(self.count_zeros_before_first_nonzero,axis =1)
        df = df[df['month_new_dealer']<=month_new]
        result_matrix = pd.DataFrame(index=df.index)
        for i in range(len(df.columns)):
            string = str(i)
            result_matrix[string] = self.count_trailing_zeros_before_end_index(df, i)
        result_matrix.drop('0', axis=1, inplace=True)
        return df , result_matrix
    
    def inactive(self , value):
        if value == 0: 
            return 'Active'
        elif value == 1: 
            return 'Active_1N'
        elif value == 2: 
            return 'Active_2N'
        elif value == 3: 
            return 'Active_3N'
        elif value>3 and value <=12:
            return 'Inactive'
        else: 
            return 'Churn'
        
#Activity Matrix      
    def state_matrix(self , month_new):
        df, result_matrix = self.create_result_matrix(month_new)
        for i in result_matrix.columns:
            result_matrix[i] = result_matrix[i].apply(self.inactive)
        result_matrix['month_new_dealer'] = df['month_new_dealer']
        for i in result_matrix.index:
            value = df.loc[i,'month_new_dealer'] 
            result_matrix.loc[i, :value] = '-'
        result_matrix.columns = df.columns
        df.drop('month_new_dealer', axis = 1 , inplace = True)
        result_matrix.drop('month_new_dealer', axis = 1 , inplace = True)
        return df, result_matrix

In [103]:
instance = DB_Data( host, database, user, password, sql_query)
df = instance.create_date_columns()

In [105]:
df = df[['sold_to_party_code', 'Month_Year', 'bill_quantity']]
df

         sold_to_party_code Month_Year  bill_quantity
0                   7016172    2021-09           19.0
1                   7025097    2021-09           25.0
2                   7023796    2021-09            4.5
3                   7023796    2021-09            0.5
4                   7025095    2021-09           20.0
...                     ...        ...            ...
4725658             7019648    2021-09           19.0
4725659             7031335    2021-09           19.0
4725660             7023265    2021-09            5.0
4725661             7021437    2021-09           10.0
4725662             7016635    2021-09            4.0

[4725663 rows x 3 columns]

In [107]:
df[df['sold_to_party_code'].isin([7010323, 7010342, 7010374, 7010479, 7010585])]['Month_Year'].value_counts()

2023-05    10
2023-08     5
2023-04     2
2023-07     2
Name: Month_Year, dtype: int64

In [ ]:
[7010323, 7010342, 7010374, 7010479, 7010585]

In [109]:
status_jul[status_jul.index.isin([7010323, 7010342, 7010374, 7010479, 7010585])]

,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,dealer_history
Unnamed: 0,,,,,,,,,,,,,
7010323,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2
7010342,-,-,-,-,-,-,-,-,-,Active,Active,Active_1N,3
7010374,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2
7010479,-,-,-,-,-,-,-,-,-,Active,Active,Active_1N,3
7010585,-,-,-,-,-,-,-,-,-,-,Active,Active_1N,2

In [114]:
import os
directory = 'data/Sales Data/'
def read_multiple_tables(directory):
    df_a = pd.DataFrame()
    for folder in os.listdir(directory):
        if folder not in ['.DS_Store', '.ipynb_checkpoints']:
            for file in os.listdir(os.path.join(directory , folder)):
                if file != '.ipynb_checkpoints':
                    files_dir = os.path.join(directory , folder , file)
                    df_1 = pd.read_excel(files_dir, engine='pyxlsb')
                df_a = pd.concat([df_a , df_1] , axis = 0)
    return df_a

In [115]:
df_a = read_multiple_tables(directory)

In [93]:
dealer_status[(dealer_status['2023-01'].isin(['Inactive',
                                            'Churn']))&(dealer_status['2023-10'].isin(['Active', 
                                                                                       'Active_1N','Active_2N']))].to_excel('dealer_status_history.xlsx')

In [117]:
df_a.head()

,Month,Billing Date,Sales Region,Sales Zone,Sales Type,Manufacturing Plant,Manufacturing Plant Name,Plant,Plant Name,Sold To Party Code,...,Mode of Transport,T Zone,Tzone Desc.,Brand,Product,Sold To Party District Name.1,Bill Quantity,Net Bill Price,Zbill_Invoice_bill,Gross Bill Price
0,44228,44229,South,Goa,Trade,1300,DCBL FACTORY-BELGAUM,1300,DCBL FACTORY-BELGAUM,7015228,...,Road,4037020202,CANCONA,DALMIA,PPC,South Goa,25.0,164453.0,185000.0,NaN
1,44228,44229,South,Goa,Trade,1300,DCBL FACTORY-BELGAUM,1300,DCBL FACTORY-BELGAUM,7015228,...,Road,4036010201,MADGAON,DALMIA,PPC,South Goa,25.0,164453.0,185000.0,NaN
2,44228,44229,South,Goa,Trade,1300,DCBL FACTORY-BELGAUM,1300,DCBL FACTORY-BELGAUM,7031240,...,Road,4034010101,PONDA,DALMIA,PPC,North Goa,25.0,166520.0,185000.0,NaN
3,44228,44230,South,Goa,Trade,1300,DCBL FACTORY-BELGAUM,1300,DCBL FACTORY-BELGAUM,7031240,...,Road,4038020201,VASCO,DALMIA,PPC,North Goa,25.0,166520.0,185000.0,NaN
4,44228,44231,South,Goa,Trade,1300,DCBL FACTORY-BELGAUM,1300,DCBL FACTORY-BELGAUM,7026324,...,Road,4035070103,MAPUSA,DALMIA,PPC,North Goa,33.0,217716.0,244200.0,NaN

In [118]:
import datetime
def timeseries_conversion(excel_serial_number):
    reference_date = datetime.datetime(1900, 1, 1)
    dt = reference_date + datetime.timedelta(days=excel_serial_number - 2)
    return dt
df_a['Billing Date'] = df_a['Billing Date'].apply(timeseries_conversion)

In [121]:
def create_date_columns(df_list):#pass the dataframe in the list format 
    new_df = pd.DataFrame()
    for i in df_list:
        #i['date'] = pd.to_datetime(i['Billing Date'])
        i['Month_Year'] = pd.to_datetime(i['date']).dt.strftime('%Y-%m')
        #i['Year'] = pd.to_datetime(i['date']).dt.year
        #i['Quarter'] = i['date'].dt.to_period('Q')
        new_df = pd.concat([new_df,i], axis=0)
    return new_df
df_sales = create_date_columns([df_a])

In [129]:
df_sales = df_a[['Sold To Party Code' ,'Month_Year','Bill Quantity']]

In [131]:
df_sales = df_sales[df_sales['Sold To Party Code'].isin(range(7000000,7100000))]

In [135]:
df_sales['Month_Year'].value_counts()

2021-03    189973
2020-12    166066
2021-02    165135
2021-01    153949
2020-10    142850
2020-09    137908
2020-11    136126
2020-06    132307
2020-07    120922
2020-08    120343
2020-05    113957
2020-04     28156
Name: Month_Year, dtype: int64

In [136]:
df_sales[df_sales['Sold To Party Code'].isin([7010323, 7010342, 7010374, 7010479, 7010585])]

Empty DataFrame
Columns: [Sold To Party Code, Month_Year, Bill Quantity]
Index: []