In [3]:
import numpy as np 
import pandas as pd 
from utility.datetime_util import create_date_columns

In [2]:
cd '../'

/Users/nikhilsingh/Downloads/Dalmia_machine_learning/Nikhil

In [4]:
df = pd.read_csv('data/test_data_rmf.csv')

In [5]:
df.head()

   Sold To Party Code    m-6    m-5    m-4    m-3   m-2    m-1        24
0             7000004   20.0   20.0  122.5   75.0  90.0  155.0    Active
1             7000010    0.0   25.0   17.0    0.0  33.8   12.0  Inactive
2             7000015  100.0   42.0   54.5   45.0  74.0   27.0  Inactive
3             7000019  133.0  104.0  165.0  123.5   0.0    7.5     Churn
4             7000022   22.0    5.0   21.0   24.0   0.0   29.0    Active

In [6]:
df.index = df['Sold To Party Code']
df.drop('Sold To Party Code', axis = 1 , inplace = True)

In [7]:
df.head()

                      m-6    m-5    m-4    m-3   m-2    m-1        24
Sold To Party Code
7000004              20.0   20.0  122.5   75.0  90.0  155.0    Active
7000010               0.0   25.0   17.0    0.0  33.8   12.0  Inactive
7000015             100.0   42.0   54.5   45.0  74.0   27.0  Inactive
7000019             133.0  104.0  165.0  123.5   0.0    7.5     Churn
7000022              22.0    5.0   21.0   24.0   0.0   29.0    Active

In [8]:
#df['billing_date'].min(),df['billing_date'].max()

In [9]:
df_count = pd.read_csv('data/test_data_rmf_count.csv')
df_count.index = df_count['Sold To Party Code']
df_count.drop('Sold To Party Code', axis = 1 , inplace = True)

In [10]:
df_count = df_count[df_count.index.isin(df.index)==True]

In [11]:
def count_zeros_before_first_nonzero(row):
    count = 0
    for value in row:
        if value == 0:
            count += 1
        else:
            break 
    return count
pivot['month_new_dealer'] = pivot.apply(count_zeros_before_first_nonzero , axis = 1)
def count_trailing_zeros_before_end_index(df, end_index):
    counts = []
    for row in df.itertuples(index=False):
        count = 0
        for i in range(end_index - 1, -1, -1):
            if row[i] == 0:
                count += 1
            else:
                break
        counts.append(count)
    return counts

result_matrix = pd.DataFrame(index = pivot.index)
for i in range(len(pivot.columns)):
    string = str(i)
    result_matrix[string] = count_trailing_zeros_before_end_index(pivot, i)
result_matrix.drop('0', axis = 1 , inplace = True)
#Status of each dealer 
def inactive(value):
    if value == 0: 
        return 'Active'
    elif value == 1: 
        return 'Active_1N'
    elif value == 2: 
        return 'Active_2N'
    elif value == 3: 
        return 'Active_3N'
    elif value>3 and value <=12:
        return 'Inactive'
    else: 
        return 'Churn'
    
for i in result_matrix.columns:
    result_matrix[i] = result_matrix[i].apply(inactive)
#getting the count of non transaction months
result_matrix['month_new_user'] = pivot['month_new_dealer']
#result_matrix_copy_1 = result_matrix.copy()
for i in range(result_matrix.shape[0]):
    value = result_matrix.iloc[i,26]
    #print(result_matrix_copy_1.iloc[:, :value])  
    result_matrix.iloc[i, :value] = '-'

NameError: name 'pivot' is not defined

In [12]:
pivot['Activity'] = result_matrix['26']
pivot_count['Activity'] = result_matrix['26']

NameError: name 'result_matrix' is not defined

In [13]:
pivot.columns

NameError: name 'pivot' is not defined

In [24]:
pivot_6M = df.drop('24' , axis =1 )
pivot_count_6M = df_count
#result_matrix = result_matrix[['21', '22', '23', '24', '25','26']]

In [25]:
pivot_count_6M['Total'] = pivot_count_6M.sum(axis = 1)

In [26]:
pivot_6M['Total'] = pivot_6M.sum(axis = 1)
pivot_6M['Average'] = pivot_6M['Total']/pivot_count_6M['Total']

In [23]:
#pivot_count_6M['Total'] = pivot_count_6M.sum(axis = 1)

In [27]:
#pivot_6M['Total'] = pivot_6M['Total']/pivot_count_6M['Total']
pivot_count_6M['Total'] = pivot_count_6M['Total']/6

In [28]:
pivot_count_6M.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10660 entries, 7000004 to 7036520
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   m-6     10660 non-null  float64
 1   m-5     10660 non-null  float64
 2   m-4     10660 non-null  float64
 3   m-3     10660 non-null  float64
 4   m-2     10660 non-null  float64
 5   m-1     10660 non-null  float64
 6   Total   10660 non-null  float64
dtypes: float64(7)
memory usage: 666.2 KB

In [29]:
pivot_6M['Total'] = pivot_6M['Total'].fillna(0)

In [30]:
pivot_6M = pivot_6M.merge(df[['24']] , left_index=True , right_index=True , how = 'left')

In [31]:
# pivot_12M = pivot[['2022-06', '2022-07', '2022-08', '2022-09',
#        '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
#        '2023-04', '2023-05']]
# pivot_12M['Max'] = pivot_12M.max(axis = 1)

In [35]:
#q1_total = np.percentile(pivot_6M['Total'], 25)
#q2_total = np.percentile(pivot_6M['Total'], 50)
#q3_total = np.percentile(pivot_6M['Total'], 75)
q1_count = np.percentile(pivot_count_6M['Total'], 25)
# q2_count = np.percentile(pivot_count_6M['Total'], 50)
q3_count = np.percentile(pivot_count_6M['Total'], 75)
q1_1M = np.percentile(pivot_count_6M['m-1'], 25)
#q2_1M = np.percentile(pivot_count_6M['2023-05'], 50)
q3_1M = np.percentile(pivot_count_6M['m-1'], 75)
q1_max = np.percentile(pivot_6M['Average'], 25)
#q2_max = np.percentile(pivot_12M['Max'], 50)
q3_max = np.percentile(pivot_6M['Average'], 75)

In [48]:
pivot_count_6M

                     m-6   m-5   m-4   m-3   m-2   m-1  Total
Sold To Party Code
7000004              1.0   1.0   8.0   8.0   5.0   9.0   16.0
7000010              0.0   1.0   1.0   0.0   3.0   1.0    3.0
7000015             10.0   5.0   5.0   5.0   7.0   3.0   17.5
7000019              7.0  10.0  17.0  11.0   0.0   1.0   23.0
7000022              3.0   1.0   2.0   2.0   0.0   2.0    5.0
...                  ...   ...   ...   ...   ...   ...    ...
7036491             26.0  28.0  28.0  20.0  22.0  30.0   77.0
7036499              8.0   9.0   4.0   3.0  11.0  11.0   23.0
7036501              3.0   8.0   4.0  37.0  26.0  55.0   66.5
7036508              2.0   5.0  10.0   6.0   5.0   8.0   18.0
7036520              0.0   4.0   4.0   2.0   2.0   2.0    7.0

[10660 rows x 7 columns]

In [36]:
(q1_1M , q3_1M) , (q1_max, q3_max) , (q1_count , q3_count)

((2.0, 18.0), (1.6187432432432431, 3.9583333333333335), (6.0, 46.0))

In [37]:
df_25_max = pivot_6M[pivot_6M['Average']<=q1_max]
df_25_75_max = pivot_6M[(pivot_6M['Average']>q1_max)&(pivot_6M['Average']<=q3_max)]
df_75_max = pivot_6M[pivot_6M['Average']>q3_max]

In [38]:
df_25_max

,m-6,m-5,m-4,m-3,m-2,m-1,Total,Average,24
Sold To Party Code,,,,,,,,,
7000043,130.5,60.50,97.00,23.5,41.50,1.00,354.00,1.388235,Churn
7000059,36.5,82.50,45.10,62.5,27.50,20.00,274.10,1.100803,Active
7000075,135.0,130.50,171.50,111.0,106.00,267.00,921.00,1.026756,Active
7000084,5.0,9.00,12.50,10.0,0.00,2.50,39.00,1.300000,Inactive
7000123,15.0,0.00,15.00,0.0,0.00,10.00,40.00,1.481481,Churn
...,...,...,...,...,...,...,...,...,...
7036443,2.5,2.00,1.50,7.5,1.00,2.00,16.50,0.458333,Active
7036450,33.5,123.25,136.75,218.0,222.75,276.80,1011.05,1.337368,Active
7036464,6.0,6.00,0.00,2.5,0.00,3.00,17.50,0.972222,Active
7036489,37.0,0.50,0.00,5.0,17.50,5.00,65.00,1.203704,Inactive
7036491,70.3,86.80,75.20,97.0,78.95,91.05,499.30,1.080736,Active

In [39]:
df_25_frequency = pivot_count_6M[pivot_count_6M['Total']<=q1_count]
df_25_75_frequency = pivot_count_6M[(pivot_count_6M['Total']>q1_count)&(pivot_count_6M['Total']<=q3_count)]
df_75_frequency = pivot_count_6M[pivot_count_6M['Total']>q3_count]

In [40]:
df_25_recency = pivot_6M[pivot_6M['m-1']<=q1_1M]
df_25_75_recency = pivot_6M[(pivot_6M['m-1']>q1_1M)&(pivot_6M['m-1']<=q3_1M)]
df_75_recency = pivot_6M[pivot_6M['m-1']>q3_1M]

In [42]:
df_25_max.shape[0],df_25_75_max.shape[0], df_75_max.shape[0]#monetary

(2665, 5331, 2664)

In [43]:
df_25_recency.shape[0],df_25_75_recency.shape[0], df_75_recency.shape[0]#r

(355, 2799, 7506)

In [44]:
df_25_frequency.shape[0],df_25_75_frequency.shape[0], df_75_frequency.shape[0]#

(2792, 5220, 2648)

In [47]:
df_25_75_recency

,m-6,m-5,m-4,m-3,m-2,m-1,Total,Average,24
Sold To Party Code,,,,,,,,,
7000010,0.0,25.00,17.0,0.00,33.8,12.0,87.8,4.877778,Inactive
7000019,133.0,104.00,165.0,123.50,0.0,7.5,533.0,3.862319,Churn
7000050,18.0,18.00,18.0,0.00,0.0,18.0,72.0,4.800000,Inactive
7000084,5.0,9.00,12.5,10.00,0.0,2.5,39.0,1.300000,Inactive
7000123,15.0,0.00,15.0,0.00,0.0,10.0,40.0,1.481481,Churn
...,...,...,...,...,...,...,...,...,...
7036470,13.0,14.25,26.0,15.25,37.5,16.0,122.0,1.768116,Active
7036471,0.0,0.00,0.0,26.00,0.0,10.0,36.0,3.000000,Inactive
7036474,0.0,52.00,27.0,28.00,0.0,15.0,122.0,2.541667,Active
7036475,7.0,14.00,8.0,6.00,10.0,7.0,52.0,1.733333,Active_3N
7036489,37.0,0.50,0.0,5.00,17.5,5.0,65.0,1.203704,Inactive

In [41]:
m1_f1_r1 = df_25_max[['Average','24']].join(df_25_frequency[['Total' ]], how='inner').join(df_25_recency[['m-1']], how='inner')
m1_f1_r2 = df_25_max[['Average','24']].join(df_25_frequency[['Total' ]], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m1_f1_r3 = df_25_max[['Average','24']].join(df_25_frequency[['Total' ]], how='inner').join(df_75_recency[['m-1']], how='inner')

In [63]:
m1_f1_r1

                    Average        24     Total  m-1
Sold To Party Code
7001769               42.00  Inactive  0.972222  2.0
7001894               51.60  Inactive  1.944444  1.0
7002093               57.00  Inactive  0.777778  2.0
7008636               12.00    Active  0.194444  2.0
7008749               30.00    Active  1.166667  1.0
...                     ...       ...       ...  ...
7035867                7.75    Active  1.166667  1.0
7035957               22.50  Inactive  0.777778  1.0
7036016               23.40    Active  1.944444  2.0
7036263               39.75  Inactive  0.777778  1.5
7036443                8.25    Active  2.333333  2.0

[238 rows x 4 columns]

In [64]:
m1_f1_r3

                      Average         24     Total   m-1
Sold To Party Code
7000073             46.909091   Inactive  2.138889  20.0
7000685             54.709091     Active  2.138889  22.0
7000927             53.500000  Active_3N  2.333333  40.0
7001032             49.636364  Active_1N  2.138889  20.0
7001045             32.727273   Inactive  2.138889  24.0
...                       ...        ...       ...   ...
7036327             53.500000   Inactive  2.333333  26.0
7036339             53.142857   Inactive  1.361111  31.0
7036352             45.750000   Inactive  1.555556  21.0
7036391             48.857143     Active  1.361111  20.0
7036469             34.285714     Active  1.361111  20.0

[221 rows x 4 columns]

In [65]:
m1_f2_r1 = df_25_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m1_f2_r2 = df_25_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m1_f2_r3 = df_25_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [66]:
m1_f3_r1 = df_25_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m1_f3_r2 = df_25_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m1_f3_r3 = df_25_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [67]:
m2_f1_r1 = df_25_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m2_f1_r2 = df_25_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m2_f1_r3 = df_25_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [68]:
m2_f2_r1 = df_25_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m2_f2_r2 = df_25_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m2_f2_r3 = df_25_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [69]:
m2_f3_r1 = df_25_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m2_f3_r2 = df_25_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m2_f3_r3 = df_25_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [70]:
m3_f1_r1 = df_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m3_f1_r2 = df_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m3_f1_r3 = df_75_max[['Average','24']].join(df_25_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [71]:
m3_f2_r1 = df_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m3_f2_r2 = df_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m3_f2_r3 = df_75_max[['Average','24']].join(df_25_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [72]:
m3_f3_r1 = df_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_recency[['m-1']], how='inner')
m3_f3_r2 = df_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_25_75_recency[['m-1']], how='inner')
m3_f3_r3 = df_75_max[['Average','24']].join(df_75_frequency[['Total']], how='inner').join(df_75_recency[['m-1']], how='inner')

In [73]:
idx = ['m1_f1_r1','m1_f1_r2','m1_f1_r3','m1_f2_r1','m1_f2_r2','m1_f2_r3','m1_f3_r1','m1_f3_r2','m1_f3_r3',
       'm2_f1_r1','m2_f1_r2','m2_f1_r3','m2_f2_r1','m2_f2_r2','m2_f2_r3','m2_f3_r1','m2_f3_r2','m2_f3_r3',
      'm3_f1_r1','m3_f1_r2','m3_f1_r3','m3_f2_r1','m3_f2_r2','m3_f2_r3','m3_f3_r1','m3_f3_r2','m3_f3_r3']

num_df = pd.DataFrame(columns= ['Base','Inactive' , 'Churn'] , index = idx)

In [77]:
num_df.loc['m1_f1_r1' , 'Base'] = m1_f1_r1.shape[0]
num_df.loc['m1_f1_r1' , 'Inactive']= m1_f1_r1[m1_f1_r1['24']=='Inactive'].shape[0]
num_df.loc['m1_f1_r1' , 'Churn']= m1_f1_r1[m1_f1_r1['24']=='Churn'].shape[0]

In [78]:
num_df.loc['m1_f1_r2' , 'Base'] = m1_f1_r2.shape[0]
num_df.loc['m1_f1_r2' , 'Inactive']= m1_f1_r2[m1_f1_r2['24']=='Inactive'].shape[0]
num_df.loc['m1_f1_r2' , 'Churn']= m1_f1_r2[m1_f1_r2['24']=='Churn'].shape[0]

In [79]:
num_df.loc['m1_f1_r3' , 'Base'] = m1_f1_r3.shape[0]
num_df.loc['m1_f1_r3' , 'Inactive']= m1_f1_r3[m1_f1_r3['24']=='Inactive'].shape[0]
num_df.loc['m1_f1_r3' , 'Churn']= m1_f1_r3[m1_f1_r3['24']=='Churn'].shape[0]

In [80]:
num_df.loc['m1_f2_r1' , 'Base'] = m1_f2_r1.shape[0]
num_df.loc['m1_f2_r1' , 'Inactive']= m1_f2_r1[m1_f2_r1['24']=='Inactive'].shape[0]
num_df.loc['m1_f2_r1' , 'Churn']= m1_f2_r1[m1_f2_r1['24']=='Churn'].shape[0]

In [81]:
num_df.loc['m1_f2_r2' , 'Base'] = m1_f2_r2.shape[0]
num_df.loc['m1_f2_r2' , 'Inactive']= m1_f2_r2[m1_f2_r2['24']=='Inactive'].shape[0]
num_df.loc['m1_f2_r2' , 'Churn']= m1_f2_r2[m1_f2_r2['24']=='Churn'].shape[0]

In [82]:
num_df.loc['m1_f2_r3' , 'Base'] = m1_f2_r3.shape[0]
num_df.loc['m1_f2_r3' , 'Inactive']= m1_f2_r3[m1_f2_r3['24']=='Inactive'].shape[0]
num_df.loc['m1_f2_r3' , 'Churn']= m1_f2_r3[m1_f2_r3['24']=='Churn'].shape[0]

In [83]:
num_df.loc['m1_f3_r1' , 'Base'] = m1_f3_r1.shape[0]
num_df.loc['m1_f3_r1' , 'Inactive']= m1_f3_r1[m1_f3_r1['24']=='Inactive'].shape[0]
num_df.loc['m1_f3_r1' , 'Churn']= m1_f3_r1[m1_f3_r1['24']=='Churn'].shape[0]
num_df.loc['m1_f3_r2' , 'Base'] = m1_f3_r2.shape[0]
num_df.loc['m1_f3_r2' , 'Inactive']= m1_f3_r2[m1_f3_r2['24']=='Inactive'].shape[0]
num_df.loc['m1_f3_r2' , 'Churn']= m1_f3_r2[m1_f3_r2['24']=='Churn'].shape[0]
num_df.loc['m1_f3_r3' , 'Base'] = m1_f3_r3.shape[0]
num_df.loc['m1_f3_r3' , 'Inactive']= m1_f3_r3[m1_f3_r3['24']=='Inactive'].shape[0]
num_df.loc['m1_f3_r3' , 'Churn']= m1_f3_r3[m1_f3_r3['24']=='Churn'].shape[0]

In [84]:
num_df.loc['m2_f1_r1' , 'Base'] = m2_f1_r1.shape[0]
num_df.loc['m2_f1_r1' , 'Inactive']= m2_f1_r1[m2_f1_r1['24']=='Inactive'].shape[0]
num_df.loc['m2_f1_r1' , 'Churn']= m2_f1_r1[m2_f1_r1['24']=='Churn'].shape[0]
num_df.loc['m2_f1_r2' , 'Base'] = m2_f1_r2.shape[0]
num_df.loc['m2_f1_r2' , 'Inactive']= m2_f1_r2[m2_f1_r2['24']=='Inactive'].shape[0]
num_df.loc['m2_f1_r2' , 'Churn']= m2_f1_r2[m2_f1_r2['24']=='Churn'].shape[0]
num_df.loc['m2_f1_r3' , 'Base'] = m2_f1_r3.shape[0]
num_df.loc['m2_f1_r3' , 'Inactive']= m2_f1_r3[m2_f1_r3['24']=='Inactive'].shape[0]
num_df.loc['m2_f1_r3' , 'Churn']= m2_f1_r3[m2_f1_r3['24']=='Churn'].shape[0]

In [88]:
num_df.loc['m2_f2_r1' , 'Base'] = m2_f2_r1.shape[0]
num_df.loc['m2_f2_r1' , 'Inactive']= m2_f2_r1[m2_f2_r1['24']=='Inactive'].shape[0]
num_df.loc['m2_f2_r1' , 'Churn']= m2_f2_r1[m2_f2_r1['24']=='Churn'].shape[0]
num_df.loc['m2_f2_r2' , 'Base'] = m2_f2_r2.shape[0]
num_df.loc['m2_f2_r2' , 'Inactive']= m2_f2_r2[m2_f2_r2['24']=='Inactive'].shape[0]
num_df.loc['m2_f2_r2' , 'Churn']= m2_f2_r2[m2_f2_r2['24']=='Churn'].shape[0]
num_df.loc['m2_f2_r3' , 'Base'] = m2_f2_r3.shape[0]
num_df.loc['m2_f2_r3' , 'Inactive']= m2_f2_r3[m2_f2_r3['24']=='Inactive'].shape[0]
num_df.loc['m2_f2_r3' , 'Churn']= m2_f2_r3[m2_f2_r3['24']=='Churn'].shape[0]

In [89]:
num_df.loc['m2_f3_r1' , 'Base'] = m2_f3_r1.shape[0]
num_df.loc['m2_f3_r1' , 'Inactive']= m2_f3_r1[m2_f3_r1['24']=='Inactive'].shape[0]
num_df.loc['m2_f3_r1' , 'Churn']= m2_f3_r1[m2_f3_r1['24']=='Churn'].shape[0]
num_df.loc['m2_f3_r2' , 'Base'] = m2_f3_r2.shape[0]
num_df.loc['m2_f3_r2' , 'Inactive']= m2_f3_r2[m2_f3_r2['24']=='Inactive'].shape[0]
num_df.loc['m2_f3_r2' , 'Churn']= m2_f3_r2[m2_f3_r2['24']=='Churn'].shape[0]
num_df.loc['m2_f3_r3' , 'Base'] = m2_f3_r3.shape[0]
num_df.loc['m2_f3_r3' , 'Inactive']= m2_f3_r3[m2_f3_r3['24']=='Inactive'].shape[0]
num_df.loc['m2_f3_r3' , 'Churn']= m2_f3_r3[m2_f3_r3['24']=='Churn'].shape[0]

In [91]:
num_df.loc['m3_f1_r1' , 'Base'] = m3_f1_r1.shape[0]
num_df.loc['m3_f1_r1' , 'Inactive']= m3_f1_r1[m3_f1_r1['24']=='Inactive'].shape[0]
num_df.loc['m3_f1_r1' , 'Churn']= m3_f1_r1[m3_f1_r1['24']=='Churn'].shape[0]
num_df.loc['m3_f1_r2' , 'Base'] = m3_f1_r2.shape[0]
num_df.loc['m3_f1_r2' , 'Inactive']= m3_f1_r2[m3_f1_r2['24']=='Inactive'].shape[0]
num_df.loc['m3_f1_r2' , 'Churn']= m3_f1_r2[m3_f1_r2['24']=='Churn'].shape[0]
num_df.loc['m3_f1_r3' , 'Base'] = m3_f1_r3.shape[0]
num_df.loc['m3_f1_r3' , 'Inactive']= m3_f1_r3[m3_f1_r3['24']=='Inactive'].shape[0]
num_df.loc['m3_f1_r3' , 'Churn']= m3_f1_r3[m3_f1_r3['24']=='Churn'].shape[0]

In [93]:
num_df.loc['m3_f2_r1' , 'Base'] = m3_f2_r1.shape[0]
num_df.loc['m3_f2_r1' , 'Inactive']= m3_f2_r1[m3_f2_r1['24']=='Inactive'].shape[0]
num_df.loc['m3_f2_r1' , 'Churn']= m3_f2_r1[m3_f2_r1['24']=='Churn'].shape[0]
num_df.loc['m3_f2_r2' , 'Base'] = m3_f2_r2.shape[0]
num_df.loc['m3_f2_r2' , 'Inactive']= m3_f2_r2[m3_f2_r2['24']=='Inactive'].shape[0]
num_df.loc['m3_f2_r2' , 'Churn']= m3_f2_r2[m3_f2_r2['24']=='Churn'].shape[0]
num_df.loc['m3_f2_r3' , 'Base'] = m3_f2_r3.shape[0]
num_df.loc['m3_f2_r3' , 'Inactive']= m3_f2_r3[m3_f2_r3['24']=='Inactive'].shape[0]
num_df.loc['m3_f2_r3' , 'Churn']= m3_f2_r3[m3_f2_r3['24']=='Churn'].shape[0]

In [94]:
num_df.loc['m3_f3_r1' , 'Base'] = m3_f3_r1.shape[0]
num_df.loc['m3_f3_r1' , 'Inactive']= m3_f3_r1[m3_f3_r1['24']=='Inactive'].shape[0]
num_df.loc['m3_f3_r1' , 'Churn']= m3_f3_r1[m3_f3_r1['24']=='Churn'].shape[0]
num_df.loc['m3_f3_r2' , 'Base'] = m3_f3_r2.shape[0]
num_df.loc['m3_f3_r2' , 'Inactive']= m3_f3_r2[m3_f3_r2['24']=='Inactive'].shape[0]
num_df.loc['m3_f3_r2' , 'Churn']= m3_f3_r2[m3_f3_r2['24']=='Churn'].shape[0]
num_df.loc['m3_f3_r3' , 'Base'] = m3_f3_r3.shape[0]
num_df.loc['m3_f3_r3' , 'Inactive']= m3_f3_r3[m3_f3_r3['24']=='Inactive'].shape[0]
num_df.loc['m3_f3_r3' , 'Churn']= m3_f3_r3[m3_f3_r3['24']=='Churn'].shape[0]

In [288]:
q1_max , q1_total, q1_1M

(15.0, 1.962962962962963, 0.0)

In [97]:
num_df['Base'].sum()

10660

In [96]:
num_df.to_csv('data/segmentation.csv')

In [174]:
m2_f1_r3['Activity'].value_counts()

Inactive     723
Active        32
Active_1N     12
Active_3N      9
Active_2N      8
Name: Activity, dtype: int64

In [187]:
pivot

Month Year,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,Activity
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,255.5,85.0,207.0,102.0,73.5,74.5,43.0,25.0,76.0,53.0,...,20.0,20.0,122.5,75.0,90.0,155.0,46.0,86.0,0,Active
7000010,57.0,37.0,0.0,24.0,30.0,0.0,41.0,24.0,25.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0,Active
7000015,4.0,50.0,63.0,62.0,91.0,68.5,70.5,77.0,50.0,44.5,...,74.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Inactive
7000019,12.0,50.0,133.0,104.0,165.0,123.5,0.0,7.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,5.0,21.0,24.0,0.0,29.0,0.0,10.0,13,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25,Active
7040779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,25,Active
7040781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.5,25,Active
7040783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,25,Active
7040792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,25,Active

In [80]:
from utility.db_data import connection_db

host="database-dalmia.cms6cet2hwec.ap-south-1.rds.amazonaws.com"
database="dalmia_digital"
user="postgres"
password="dalmia123"
sql_query =  "SELECT billing_date, sold_to_party_code,bill_quantity FROM dalmia_sales.sales_data where billing_date > '2019-04-01' and sold_to_party_code between 7000000 and 7099999"

In [81]:
df = connection_db(host= host , database=database, user=user , password=password, sql_query=sql_query)

/Users/nikhilsingh/Downloads/Dalmia_machine_learning/Nikhil/utility/db_data.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

In [82]:
df.head()

  billing_date  sold_to_party_code  bill_quantity
0   2022-09-20             7005786            6.0
1   2022-09-20             7031476           15.0
2   2022-09-20             7010684           10.0
3   2022-09-20             7005799            1.0
4   2022-09-20             7022780           10.0

In [83]:
def return_yoy_df(df):
    df_sales = create_date_columns([df])
    df_sales = df_sales[['sold_to_party_code','Month_Year','bill_quantity']]
    #df_sales =df_sales[df_sales['sold_to_party_code']!='DONATION']
    df_group_month = df_sales.groupby(['sold_to_party_code','Month_Year']).agg({'bill_quantity': ['sum']}).reset_index()
    df_group_month.columns = ['Sold To Party Code', 'Month Year' , 'Sum']
    pivot_table = pd.pivot_table(df_group_month, values='Sum',columns='Month Year', index = 'Sold To Party Code')
    return pivot_table
pivot = return_yoy_df(df)
pivot = pivot.fillna(0)

In [84]:
pivot

Month Year,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,255.5,85.0,207.0,102.0,73.5,74.5,43.0,25.0,76.0,53.0,...,20.0,20.0,20.0,20.0,122.5,75.0,90.0,155.0,46.0,86.0
7000010,57.0,37.0,0.0,24.0,30.0,0.0,41.0,24.0,25.0,24.0,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
7000015,4.0,50.0,63.0,62.0,91.0,68.5,70.5,77.0,50.0,44.5,...,54.5,45.0,74.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0
7000019,12.0,50.0,133.0,104.0,165.0,123.5,0.0,7.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7000022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,24.0,22.0,5.0,21.0,24.0,0.0,29.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
7040779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
7040781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.5
7040783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
7040792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [ ]:
def count_zeros_before_first_nonzero(row):
    count = 0
    for value in row:
        if value == 0:
            count += 1
        else:
            break 
    return count
pivot['month_new_dealer'] = pivot.apply(count_zeros_before_first_nonzero , axis = 1)
def count_trailing_zeros_before_end_index(df, end_index):
    counts = []
    for row in df.itertuples(index=False):
        count = 0
        for i in range(end_index - 1, -1, -1):
            if row[i] == 0:
                count += 1
            else:
                break
        counts.append(count)
    return counts

result_matrix = pd.DataFrame(index = pivot.index)
for i in range(len(pivot.columns)):
    string = str(i)
    result_matrix[string] = count_trailing_zeros_before_end_index(pivot, i)
result_matrix.drop('0', axis = 1 , inplace = True)
#Status of each dealer 
def inactive(value):
    if value == 0: 
        return 'Active'
    elif value == 1: 
        return 'Active_1N'
    elif value == 2: 
        return 'Active_2N'
    elif value == 3: 
        return 'Active_3N'
    elif value>3 and value <=12:
        return 'Inactive'
    else: 
        return 'Churn'
    
for i in result_matrix.columns:
    result_matrix[i] = result_matrix[i].apply(inactive)
#getting the count of non transaction months
result_matrix['month_new_user'] = pivot['month_new_dealer']
#result_matrix_copy_1 = result_matrix.copy()
for i in range(result_matrix.shape[0]):
    value = result_matrix.iloc[i,26]
    #print(result_matrix_copy_1.iloc[:, :value])  
    result_matrix.iloc[i, :value] = '-'

In [30]:
result_matrix[result_matrix['month_new_user']<=10]

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,month_new_user
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,0
7000010,Active,Active,Active_1N,Active,Active,Active_1N,Active,Active,Active,Active,...,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,Inactive,Inactive,Active,0
7000015,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active_1N,Active_2N,Active_3N,Inactive,Inactive,Inactive,0
7000019,Active,Active,Active,Active,Active,Active,Active_1N,Active,Active_1N,Active_2N,...,Inactive,Inactive,Inactive,Churn,Churn,Churn,Churn,Churn,Churn,0
7000025,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035898,-,-,-,-,-,-,-,-,-,-,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,10
7035902,-,-,-,-,-,-,-,-,-,-,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,10
7035904,-,-,-,-,-,-,-,-,-,-,...,Active,Active,Active,Active,Active,Active,Active,Active_1N,Active,10
7035909,-,-,-,-,-,-,-,-,-,-,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,10
7035910,-,-,-,-,-,-,-,-,-,-,...,Active,Active,Active,Active,Active,Active,Active,Active,Active,10

In [31]:
pivot = pd.merge(pivot , result_matrix['26'] , left_index=True , right_index=True , how = 'inner')

In [50]:
pivot

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,26
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,255.5,85.0,207.0,102.0,73.5,74.5,43.0,25.0,76.0,53.0,...,20.0,20.0,122.5,75.0,90.0,155.0,46.0,86.0,0,Active
7000010,57.0,37.0,0.0,24.0,30.0,0.0,41.0,24.0,25.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0,Active
7000015,4.0,50.0,63.0,62.0,91.0,68.5,70.5,77.0,50.0,44.5,...,74.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Inactive
7000019,12.0,50.0,133.0,104.0,165.0,123.5,0.0,7.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,5.0,21.0,24.0,0.0,29.0,0.0,10.0,13,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25,Active
7040779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,25,Active
7040781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.5,25,Active
7040783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,25,Active
7040792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,25,Active

In [34]:
pivot_test = pivot[pivot['month_new_dealer']<=9]

In [36]:
churn_dealer = pivot_test[pivot_test['26']=='Churn']
active_dealer = pivot_test[pivot_test['26']=='Active']
dormant_dealer = pivot_test[(pivot_test['26']=='Inactive')|(pivot_test['26']=='Active_1N')|(pivot_test['26']=='Active_2N')|(pivot_test['26']=='Active_3N')]

In [37]:
dormant_dealer

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,26
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000015,4.0,50.0,63.00,62.0,91.00,68.5,70.5,77.0,50.0,44.50,...,74.00,27.0,0.0,0.00,0.00,0.00,0.0,0.0,0,Inactive
7000027,602.5,523.5,816.25,228.0,628.75,1002.5,929.0,391.5,1235.0,688.35,...,171.95,207.5,92.0,68.50,35.00,144.95,0.0,0.0,0,Active_2N
7000059,30.0,85.0,30.00,15.0,60.00,32.5,77.5,52.0,27.5,70.00,...,36.50,82.5,45.1,62.50,27.50,20.00,12.0,0.0,0,Active_1N
7000084,0.0,35.0,42.50,25.0,15.00,52.5,8.0,13.0,10.0,17.50,...,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,1,Inactive
7000085,0.0,0.0,0.00,0.0,0.00,30.0,0.0,25.0,30.0,0.00,...,30.00,0.0,0.0,0.00,30.00,0.00,0.0,0.0,5,Active_3N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035683,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,32.00,...,0.00,32.0,26.0,52.00,130.00,0.00,25.0,0.0,9,Active_1N
7035699,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,15.00,...,32.50,105.0,4.0,43.00,0.00,17.80,12.2,0.0,9,Active_1N
7035706,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,25.00,...,0.00,25.0,0.0,0.00,0.00,0.00,0.0,0.0,9,Inactive
7035713,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,5.00,...,16.50,29.0,26.0,28.25,28.75,15.75,8.5,0.0,9,Active_1N
7035715,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,5.00,...,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,9,Inactive

In [38]:
churn_dealer

,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,26
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000019,12.0,50.0,133.0,104.0,165.0,123.5,0.0,7.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000043,103.0,74.0,130.5,60.5,97.0,23.5,41.5,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000048,44.0,52.0,33.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000050,51.0,18.0,36.0,36.0,18.0,18.0,18.0,18.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000063,0.0,20.0,12.0,29.0,7.0,41.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,Churn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Churn
7035647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Churn
7035684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Churn
7035697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Churn
7035718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Churn

In [47]:
def count_zeros_before_first_nonzero(row):
    count = 0
    for value in row:
        if value == 0:
            count += 1
        else:
            break 
    return count

In [45]:
churn_test = churn_dealer[['2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09',
       '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03',
       '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09',
       '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
       '2023-04', '2023-05'][::-1]]

In [48]:
churn_test['month_churn'] = churn_test.apply(count_zeros_before_first_nonzero , axis = 1 )

/var/folders/m3/m633mc4s5tsggxm0f81370l80000gn/T/ipykernel_25785/3790527268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_test['month_churn'] = churn_test.apply(count_zeros_before_first_nonzero , axis = 1 )

In [52]:
pivot_2021 = pd.read_csv('data/2021_sales.csv')

In [59]:
pivot_2021.head()

,Sold To Party Code,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
0,7000002,15.0,15.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7000004,0.0,397.0,326.50,242.0,66.0,241.0,116.0,200.0,285.0,327.0,312.0,385.0
2,7000010,20.0,89.7,50.00,30.0,30.0,20.0,20.0,40.0,50.0,50.0,20.0,60.0
3,7000011,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,31.0,38.0,30.0,0.0
4,7000015,22.0,218.0,110.95,144.0,102.0,36.0,79.0,68.0,97.0,103.3,72.0,57.0

In [60]:
pivot_2021.index = pivot_2021['Sold To Party Code']
pivot_2021.drop('Sold To Party Code' , axis = 1 , inplace = True)

In [61]:
pivot = pd.merge(pivot_2021 , pivot , left_index=True , right_index=True , how = 'right')

In [58]:
# pivot.drop(['Sold To Party Code', '2020-04', '2020-05', '2020-06', '2020-07',
#        '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01',
#        '2021-02', '2021-03'] , axis = 1 , inplace = True)

In [64]:
pivot = pivot.fillna(0)

In [70]:
pivot.columns

Index(['2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09',
       '2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
       '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09',
       '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03',
       '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09',
       '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
       '2023-04', '2023-05', 'month_new_dealer', '26'],
      dtype='object')

In [76]:
pivot['month_new_dealer'] = pivot[['2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09',
       '2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
       '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09',
       '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03',
       '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09',
       '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
       '2023-04', '2023-05']].copy().apply(count_zeros_before_first_nonzero, axis=1)

In [77]:
pivot

,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,26
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,0.0,397.0,326.50,242.0,66.0,241.0,116.0,200.0,285.0,327.0,...,20.0,20.0,122.5,75.0,90.0,155.0,46.0,86.0,1,Active
7000010,20.0,89.7,50.00,30.0,30.0,20.0,20.0,40.0,50.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0,Active
7000015,22.0,218.0,110.95,144.0,102.0,36.0,79.0,68.0,97.0,103.3,...,74.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Inactive
7000019,60.0,233.0,237.30,150.5,130.0,178.0,25.0,120.5,140.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000022,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,5.0,21.0,24.0,0.0,29.0,0.0,10.0,25,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7040778,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,37,Active
7040779,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,37,Active
7040781,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.5,37,Active
7040783,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,37,Active
7040792,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,37,Active

In [78]:
pivot_test = pivot[pivot['month_new_dealer']<=12]

In [79]:
pivot_test

,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,month_new_dealer,26
Sold To Party Code,,,,,,,,,,,,,,,,,,,,,
7000004,0.0,397.0,326.50,242.0,66.0,241.0,116.0,200.0,285.0,327.0,...,20.0,20.0,122.5,75.0,90.0,155.0,46.0,86.0,1,Active
7000010,20.0,89.7,50.00,30.0,30.0,20.0,20.0,40.0,50.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0,Active
7000015,22.0,218.0,110.95,144.0,102.0,36.0,79.0,68.0,97.0,103.3,...,74.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Inactive
7000019,60.0,233.0,237.30,150.5,130.0,178.0,25.0,120.5,140.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Churn
7000025,22.0,10.0,82.00,94.0,22.0,34.0,52.0,50.0,53.5,103.0,...,48.0,108.8,73.0,179.0,137.0,173.0,158.0,96.0,0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7033873,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,Inactive
7033874,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,Churn
7033880,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,Churn
7033881,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,12,Inactive
7033885,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,Churn